[Desktop Entry]
Name=Buho
Comment=Note taking app
TryExec=buho
Exec=buho %U
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;TextTools;X-KDE-Utilities-Desktop;
StartupNotify=true
Icon=buho

GenericName=Note Taker
