[Desktop Entry]
Name=Buho
Name[ar]=بوهو
Name[az]=Buho
Name[ca]=Buho
Name[ca@valencia]=Buho
Name[cs]=Buho
Name[de]=Buho
Name[el]=Buho
Name[en_GB]=Buho
Name[eo]=Buho
Name[es]=Buho
Name[et]=Buho
Name[eu]=Buho
Name[fi]=Buho
Name[fr]=Buho
Name[gl]=Buho
Name[hu]=Buho
Name[it]=Buho
Name[ka]=Buho
Name[ko]=Buho
Name[nl]=Buho
Name[nn]=Buho
Name[pa]=ਬੁਹੋ
Name[pl]=Buho
Name[pt]=Buho
Name[pt_BR]=Buho
Name[ro]=Buho
Name[sk]=Buho
Name[sl]=Buho
Name[sv]=Buho
Name[tr]=Buho
Name[uk]=Буго
Name[zh_CN]=Buho
Name[zh_TW]=Buho
Comment=Note taking app
Comment[ar]=برنامج لتدوين الملاحظات
Comment[az]=Qeydlər üçün tətbiq
Comment[ca]=Aplicació per a prendre notes
Comment[ca@valencia]=Aplicació per a prendre notes
Comment[cs]=Aplikace pro psaní poznámek
Comment[de]=Notizenanwendung
Comment[el]=Εφαρμογή σημειώσεων
Comment[en_GB]=Note taking app
Comment[eo]=Aplikaĵo por notprenado
Comment[es]=Aplicación para tomar notas
Comment[et]=Märkmete tegemise rakendus
Comment[eu]=Notak hartzeko aplikazioa	
Comment[fi]=Muistiinpanosovellus
Comment[fr]=Application de prise de notes
Comment[gl]=Aplicación para tomar notas.
Comment[hu]=Jegyzetkészítő alkalmazás
Comment[it]=Applicazione per prendere appunti
Comment[ka]=ჩანაწერების გასაკეთებელი პროგრამა
Comment[ko]=메모 앱
Comment[nl]=Hulpprogramma voor het maken van notities
Comment[nn]=Notatprogram
Comment[pa]=ਨੋਟ ਲੈਣ ਵਾਲੀ ਐਪ
Comment[pl]=Program do robienia zapisków
Comment[pt]=Aplicação de bloco de notas
Comment[pt_BR]=Aplicativo de anotações
Comment[ro]=Aplicație pentru notițe
Comment[sk]=Aplikácia na poznámky
Comment[sl]=Program za beleženje zapiskov
Comment[sv]=Anteckningsprogram
Comment[tr]=Not alma uygulaması
Comment[uk]=Програма для роботи із нотатками
Comment[zh_CN]=笔记应用
Comment[zh_TW]=記事應用程式
TryExec=buho
Exec=buho %U
Keywords=notes;todo;nextcloud;maui;
Keywords[ar]=ملاحظات;ملاحظة;مهام;نكست كلاود;
Keywords[az]=qeydlər,tapşırıq,iş,notes;todo;nextcloud;maui; 
Keywords[ca]=notes;per fer;tasca pendent;nextcloud;maui;
Keywords[ca@valencia]=notes;per fer;tasca pendent;nextcloud;maui;
Keywords[cs]=poznámky;úloha;nextcloud;maui;
Keywords[de]=notes;todo;nextcloud;maui;notizen;aufgaben;
Keywords[el]=σημειώσεις;todo;nextcloud;maui;
Keywords[en_GB]=notes;todo;nextcloud;maui;
Keywords[eo]=notoj;farendo;nextcloud;maui;
Keywords[es]=notas;pendiente;nextcloud;maui;
Keywords[et]=märkmed;ülesanded;nextcloud;maui;
Keywords[eu]=notak;eginbeharrak;nextcloud;maui;
Keywords[fi]=muistiinpanot;tehtävät;nextcloud;maui;
Keywords[fr]=notes ; tâches à faire ; cloud ; ordonnanceur de tâches maui ;
Keywords[gl]=notas;tarefas;nextcloud;maui;
Keywords[hu]=jegyzetek;tennivaló;nextcloud;maui;
Keywords[it]=appunti;da fare;nextcloud;maui;
Keywords[ka]=notes;todo;nextcloud;maui;
Keywords[ko]=notes;todo;nextcloud;maui;노트;메모;할 일;
Keywords[nl]=notities;tedoen;nextcloud;maui;
Keywords[nn]=notat;hugseliste;todo;nextcloud;maui;
Keywords[pa]=ਨੋਟਿਸ;ਕੰਮ;ਨੈਕਸਕਲਾਉਡ;ਮੌਈ;
Keywords[pl]=zapiski;notatki;zadania;nextcloud;maui;
Keywords[pt]=notas;tarefas;nextcloud;maui;
Keywords[pt_BR]=notas;tarefa;nextcloud;maui;anotações;
Keywords[ro]=note;todo;obiectiv;nextcloud;maui;
Keywords[sk]=poznámky;todo;nextcloud;maui;
Keywords[sl]=zapiski;notes;todo;nextcloud;maui;opombe;narediti;
Keywords[sv]=anteckningar;uppgifter;nextcloud;maui;
Keywords[tr]=notlar;yapılacak;nextcloud;maui;
Keywords[uk]=notes;todo;nextcloud;maui;нотатки;завдання;записи;некстклауд;мауї;
Keywords[zh_CN]=notes;todo;nextcloud;maui;笔记;待办事项;便签;便笺;
Keywords[zh_TW]=notes;todo;nextcloud;maui;筆記;待辦事項;
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;TextTools;TextEditor;X-Todo;X-KDE-Utilities-Desktop;
StartupNotify=true
Icon=buho

GenericName=Note Taker
GenericName[ar]=مدون ملاحظات
GenericName[az]=Qeyd aparan
GenericName[ca]=Prendre notes
GenericName[ca@valencia]=Prendre notes
GenericName[cs]=Nástroj pro poznámky
GenericName[de]=Notizblock
GenericName[el]=Σημειωματάριο
GenericName[en_GB]=Note Taker
GenericName[eo]=Notprenilo
GenericName[es]=Toma de notas
GenericName[et]=Märkmete tegemine
GenericName[eu]=Ohar-idazlea
GenericName[fi]=Muistiinpanotyökalu
GenericName[fr]=Preneur de notes
GenericName[gl]=Caderno de notas
GenericName[hu]=Jegyzetkezelő
GenericName[it]=Appunti
GenericName[ka]=შენიშვნების გაკეთება
GenericName[ko]=메모 도구
GenericName[nl]=Notitieboekje
GenericName[nn]=Notatprogram
GenericName[pa]=ਨੋਟ ਲੈਣ ਵਾਲਾ
GenericName[pl]=Robienie zapisków
GenericName[pt]=Bloco de Notas
GenericName[pt_BR]=Bloco de Notas
GenericName[sk]=Ukladanie poznámok
GenericName[sl]=Prejemnik zapiskov
GenericName[sv]=Anteckningsblock
GenericName[tr]=Not Alıcı
GenericName[uk]=Записна книжка
GenericName[zh_CN]=笔记工具
GenericName[zh_TW]=記事工具
