[Desktop Entry]
Name=Buho
Name[ca]=Buho
Name[ca@valencia]=Buho
Name[cs]=Buho
Name[es]=Buho
Name[et]=Buho
Name[it]=Buho
Name[ko]=Buho
Name[nl]=Buho
Name[pt]=Buho
Name[pt_BR]=Buho
Name[sk]=Buho
Name[sv]=Buho
Name[uk]=Буго
Name[x-test]=xxBuhoxx
Name[zh_TW]=Buho
Comment=Note taking app
Comment[ca]=Aplicació per prendre notes
Comment[ca@valencia]=Aplicació per prendre notes
Comment[cs]=Aplikace pro psaní poznámek
Comment[es]=Aplicación para tomar notas
Comment[et]=Märkmete tegemise rakendus
Comment[it]=Applicazione per prendere nota
Comment[ko]=메모 프로그램
Comment[nl]=Hulpprogramma voor het maken van notities
Comment[pt]=Aplicação de bloco de notas
Comment[pt_BR]=Aplicativo de anotações
Comment[sk]=Aplikácia na poznámky
Comment[sv]=Anteckningsprogram
Comment[uk]=Програма для роботи із нотатками
Comment[x-test]=xxNote taking appxx
Comment[zh_TW]=記事應用程式
TryExec=buho
Exec=buho %U
Keywords=notes;todo;nextcloud;maui;
Keywords[ca]=notes;todo;pendents;nextcloud;maui;
Keywords[ca@valencia]=notes;todo;pendents;nextcloud;maui;
Keywords[cs]=poznámky;úkoly;nextcloud;maui;
Keywords[es]=notas;pendiente;nextcloud;maui;
Keywords[et]=märkmed;ülesanded;nextcloud;maui;
Keywords[it]=note;da fare;nextcloud;maui;
Keywords[ko]=notes;todo;nextcloud;maui;노트;메모;할 일;
Keywords[nl]=notities;tedoen;nextcloud;maui;
Keywords[pt]=notas;tarefas;nextcloud;maui;
Keywords[pt_BR]=notas;tarefa;nextcloud;maui;anotações;
Keywords[sv]=anteckningar;uppgifter;nextcloud;maui;
Keywords[uk]=notes;todo;nextcloud;maui;нотатки;завдання;записи;некстклауд;мауї;
Keywords[x-test]=xxnotesxx;xxtodoxx;xxnextcloudxx;xxmauixx;
Keywords[zh_TW]=notes;todo;nextcloud;maui;筆記;待辦事項;
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;TextTools;TextEditor;Todo;X-KDE-Utilities-Desktop;
StartupNotify=true
Icon=buho

GenericName=Note Taker
GenericName[ca]=Prendre notes
GenericName[ca@valencia]=Prendre notes
GenericName[cs]=Nástroj pro poznámky
GenericName[es]=Toma de notas
GenericName[et]=Märkmete tegemine
GenericName[it]=Strumento per annotazioni
GenericName[ko]=메모 도구
GenericName[nl]=Notitieboekje
GenericName[pt]=Bloco de Notas
GenericName[pt_BR]=Bloco de Notas
GenericName[sk]=Ukladanie poznámok
GenericName[sv]=Anteckningsblock
GenericName[uk]=Записна книжка
GenericName[x-test]=xxNote Takerxx
GenericName[zh_TW]=記事工具
